.profileCard {
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    font-size: medium;
    font-family: Marker Felt, fantasy;
}

.bubble {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}