#navbar {
    /* width: 100%; */
    margin: 0 0 3em 0;
    padding: 0 .5rem;
    background-color:  rgb(40, 12, 112);
	display: flex;
	justify-content: space-between;
}

#navbar * {
	align-self: center;
}

#navbar ul {
    list-style: none;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

#navbar ul li {
	padding: 0px .8rem;
	border-right: 1px solid #ccc;
}

#navbar ul li:last-child {
	border-right: none;
	padding: 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color:white;
}

#navbar img {
	max-height: 5rem;
	max-width: 5rem;
}

#profile-image {
	border-radius: 50%;
}

#luna-talks-logo {
	display: flex;
}

#luna-talks-logo p {
	margin-left: 1rem;
}