.displayView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.vsc-initialized{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}